
<div class="row account email forgot-row">
    <div class="full-width-col col-xs-12 ">
        <input name="email" class="account-input account-text account-email forgot-email" type="email" placeholder="user@provider.com">
    </div>
</div>


<div class="row forgot-row">
<div class="col-xs-12 reset-password-button"><button class="btn btn-lg bg-kuler2">Reset Password</button></div>

</div>

<div class="row forgot-row">
<div class="col-xs-12 sent-reset-email-text">An email with instructions on how to complete the process has been sent to the address above.</div>
</div>