<div class="row main-menu-button">
<div class="col-xs-12">
<button class="btn btn-lg bg-kuler2 first-time-visitor-link">I'm a First Time Visitor</button>
</div>
</div>

<div class="row main-menu-button">
<div class="col-xs-12">
<button class="btn btn-lg bg-kuler4 returning-link">I'm a Returning Visitor/Resident</button>
</div>
</div>
