
<div class="row account password new-password">
    <div class="full-width-col col-xs-12">
        <input name="password" class="account-input account-text account-password" type="password" placeholder="New Password">
    </div>
</div>

<div class="row account password confirm confirm-new-password">
    <div class="full-width-col col-xs-12">
        <input name="confirmpassword"  class="account-input account-text account-password confirm-password" type="password" placeholder="Confirm Password">
    </div>
</div>

<div class="row update-password-button">
<div class="col-xs-12 "><p>Update Password</p></div>

</div>