<div class="row welcome-badge bg-kuler4 kuler2">
<div class="col-xs-12">
	Welcome, {{name}}!
</div>
<div class="col-xs-12"><img class="good-to-go-image"></img></div>
<div class="col-xs-12">Please show this badge to our friend at the door.</div>
</div>
