
 <div class="row sign-in email">
    <div class="full-width-col col-xs-12">
        <input id="sign-in-email" class="account-input account-text account-email" type="email"  placeholder="Email">
    </div>
</div>

<div class="row sign-in password">
    <div class="full-width-col col-xs-12">
        <input id="sign-in-password" class="account-input account-text account-password" type="password" placeholder="Password">
    </div>
</div>

<div class="row account sign-in-text">

<div class="col-xs-12"><button class="btn btn-block bg-kuler2">Sign In</button></div>

</div>

    <div class="row account sign-in connect-facebook">
        <div class="col-xs-12 facebook-container"><button class="btn btn-block bg-kuler4">Login With Facebook</button></div>

</div>

<div class="col-xs-12 register-text full-width-col"><a href="#forgot">Forgot Password?</a></div>

<div class="row bad-login">
<div class="col-xs-12 bad-login-text">Bad login, please try again</div>
</div>