body {
font-size:1.5em;
font-family: 'Questrial', sans-serif;
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-touch-callout:none;
-webkit-user-select:none;
-khtml-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
user-select:none
}

a {
-webkit-tap-highlight-color:rgba(0,0,0,0)
}


.kuler1{
	color:rgb(160,129,56);
}
.kuler2{
	color:rgb(116,236,188);
}
.kuler3{
	color:rgb(237,197,106);
}
.kuler4{
	color:rgb(154,116,166);
}
.kuler5{
	color:rgb(120,89,120);
}

.bg-kuler1{
	background-color:rgb(160,129,56);
}
.bg-kuler2{
	background-color:rgb(116,236,188);
}
.bg-kuler3{
	background-color:rgb(237,197,106);
}
.bg-kuler4{
	background-color:rgb(154,116,166);
}
.bg-kuler5{
	background-color:rgb(120,89,120);
}

#mainContentTarget{
	padding-bottom: 40px;
}

.returning-link{
	width: 300px;
	color:white !important;
}
.first-time-visitor-link{
width: 300px;
}
.main-menu-button{
	padding-top:40px;
	padding-bottom:40px;
	text-align: center;
}

.first-time-visitor-form{
padding-left:15px;
padding-right:15px;
padding-top: 10px;
}

.indirect-connection-row{
	display:none;
}
.main-nav{
	padding-top: 10px;
	height:120px;
}
.hausparty-icon{

float: left;
width: 100px;
height:100px;
border: 10px dashed rgb(154,116,166);
background: url("images/hausparty.png");
background-size: 80px 70px;
background-position: 0px 0px;
background-repeat: no-repeat;
}
.hausparty-slug{
	padding-top:10px;
	margin-left:120px;
}
